<div th:fragment = "carousel">
 <div class="w-full  xl:grid grid-cols-6 grid-cols-1 p-6 gap-3 border border-3 rounded items-center justify-center">
     <div class="xl:col-span-4 overflow-hidden p-5 border border-3 border-white">
         <img class="object-cover w-full h-96 transition-transform duration-500 ease-in-out transform hover:scale-110" src="https://www.viajesvistalsur.com/Portals/0/Noticias/SEMANASANTA1.jpg" alt="Image">
     </div>


     <div class=" xl:col-span-2 flex items-center flex-col gap-3">
         <h1 class="flex text-[4rem] font-bold text-white">Semana Santa en el Mundo</h1>
         <button class="cool-link-featured">Mirar Mas</button>
     </div>

 </div>
</div>