
li {
    margin-bottom: 10px;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
     font-weight: bold;


}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #28666e;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}



.cool-link-footer {
    display: inline-block;

    text-decoration: none;
     font-weight: bold;
     color:white;

}

.cool-link-footer::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.cool-link-footer:hover::after {
    width: 100%;
    //transition: width .3s;
}





.cool-link-confirm {
    display: inline-block;
    color: red;
    text-decoration: none;
     font-weight: bold;


}

.cool-link-confirm::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width .3s;
}

.cool-link-confirm:hover::after {
    width: 100%;
    //transition: width .3s;
}