@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

p{
    font-family: 'Quicksand', sans-serif;}
#title{
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-style: italic;
}